{% extends 'users/index.html' %}

{% block title%}{% endblock %}

{% block content %}
<h1>Edit Post</h1>
<form action="POST">
    <div>
        <label for="title">Title</label>
        <input type="text" name="title">
    </div>
    <div>
        <label for="content">Post Content</label>
        <textarea name="content" id="content" cols="20" rows="10"></textarea>
    </div>

    <div class="edit">
        <div class="button_3">
            <a href="/users/{{ post.user_id }}">Cancel</a>
        </div>
        <div>
            <button>Edit</button>
        </div>
    </div>
</form>

{% endblock %}
