body {
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}

button {
    display: block;
    width: 80px;
    height: 40px;
    background: green;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    line-height: 25px;
}

 .button {
    margin: 2%;
    width: 80px;
    background: grey;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    line-height: 25px;
    text-decoration: none;
}

.button_1 {
    display: block;
    width: 80px;
    height: 40px;
    background: royalblue;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    line-height: 35px;
    text-decoration: none;
}

.button_2 {
    display: block;
    width: 80px;
    height: 40px;
    background: red;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    line-height: 25px;
}

.block {
    display: inline-block;
    display: flex;
    justify-content: space-between;
}

form {
    display: inline-block;
}

.save {
    display: block;
    width: 80px;
    height: 40px;
    background: green;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    line-height: 25px;
}

.button_3 {
    display: block;
    width: 80px;
    height: 36px;
    background-color: transparent;
    border: solid green;
    text-align: center;
    border-radius: 5px;
    color: green;
    font-weight: bold;
    line-height: 25px;
    text-decoration-line: none
}

.edit {
    display: inline-block;
    display: flex;
    padding: 5%
}

img {
    height: 500px;
    width: 500px
}

.button_4 {
    display: block;
    width: 80px;
    height: 40px;
    background-color: transparent;
    border: solid blue;
    text-align: center;
    border-radius: 5px;
    color: blue;
    font-weight: bold;
    line-height: 25px;
    text-decoration-line: none
}

.add_post {
    display: block;
    display: inline-block;
    width: 80px;
    height: 40px;
    background: royalblue;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    line-height: 32px;
    text-decoration: none;
    margin-top: 5%
}

.margin {
    margin: 5%
}

.posts {
    display: inline-block;
    display: flex;
    margin-top: 5%;
}

.post_1 {
    background-color: teal;
    color: white;
    width: 80px;
    height: 40px;
    line-height: 36px;
    font-weight: bold;
    text-decoration: none;
}

.post_2 {
    display: block;
    width: 80px;
    height: 40px;
    background: green;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    line-height: 25px;
}

.add_tag {
    display: inline-block;
    display: flex;
    margin-top: 5%;
}

.tag_1 {
    display: block;
    width: 80px;
    height: 37px;
    background-color: transparent;
    border: solid blue;
    text-align: center;
    border-radius: 5px;
    color: blue;
    font-weight: bold;
    line-height: 25px;
}
